<hr />
<div class="row">
  <div class="col-xs-12">
    <form role="form" ng-submit="submit()">
      <div class="form-group">
        <label for="payment_amount">Amount *</label>
        <input ng-model="payment.amount" step="any" class="form-control" id="payment_amount" placeholder="Amount" ng-required="true">
      </div>
      <div class="form-group">
        <label for="payment_source">Source</label>
        <select id="payment_source" ng-options="splitter as splitter for splitter in trip.splitters" ng-model="payment.source" class="form-control"></select>
      </div>
      <div class="form-group">
        <label for="payment_target">Target</label>
        <select id="payment_target" ng-options="splitter as splitter for splitter in trip.splitters" ng-model="payment.target" class="form-control"></select>
      </div>
      <div class="form-group">
        <label for="payment_description">Description</label>
        <input ng-model="payment.description" type="text" class="form-control" id="payment_description" placeholder="Description">
      </div>
      <div class="form-group">
        <label for="payment_creationDate">Date</label>
        <input ng-model="payment.creationDate" type="datetime-local" class="form-control" id="payment_creationDate" placeholder="Date" ng-required="true" step="0.001">
      </div>
      <submit/>
    </form>
  </div>
</div>
<hr />
