<hr />
<div class="row">
  <div class="col-xs-4">Amount</div>
  <div class="col-xs-8">{{sum(bill)|currency}}</div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form class="form-horizontal" ng-submit="submit(bill, bill_payer)">
      <div class="form-group">
        <div class="col-xs-12">
          <select id="bill_payer" ng-options="splitter as splitter for splitter in trip.splitters" ng-model="bill_payer" class="form-control" placeholder="Payer" ng-required="true"></select>
        </div>
      </div>
      <div class="form-group" ng-repeat="splitter in trip.splitters">
        <label class="col-xs-2 control-label">
          {{splitter}}
        </label>
        <div class="col-xs-10">
          <input type="text" ng-model="bill[splitter]" class="form-control" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <input ng-model="description" type="text" class="form-control" id="bill_description" placeholder="Description">
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <input ng-model="creationDate" type="datetime-local" class="form-control" id="bill_creationDate" placeholder="Date" ng-required="true">
        </div>
      </div>
      <submit />
    </form>
  </div>
</div>
<hr />
