<div class="row">
  <div class="col-xs-8">
    <div class="button-group">
      <a class="btn btn-warning" ui-sref="trip.show.bill_new({trip_id:trip.name})">
        <icon name="plus"></icon>
        <icon name="credit-card"></icon>
      </a>
      <a class="btn btn-success" ui-sref="trip.show.fair_bill_new({trip_id:trip.name})">
        <icon name="plus"></icon>
        <icon name="cubes"></icon>
      </a>
      <a class="btn btn-primary" ui-sref="trip.show.payment_new({trip_id:trip.name})">
        <icon name="minus"></icon>
        <icon name="money"></icon>
      </a>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="button-group pull-right">
      <button class="btn btn-danger" ng-click="remove(trip)">
        <icon name="trash-o"></icon>
      </button>
      <a class="btn btn-danger" ng-click="clean(trip)">
        <icon name="fire"></icon>
      </a>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <table class="table table-bordered table-condensed table-striped">
      <tr ng-repeat="splitter in trip.splitters track by $index">
        <td>
          <a ui-sref="trip.show.splitter.show({splitter:splitter})">
            {{splitter}}
          </a>
        </td>
        <td>
          <span class="pull-right">{{splitted[splitter] | $}}</span>
        </td>
      </tr>
    </table>
  </div>
</div>
<div ui-view></div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-condensed table-bordered table-striped">
      <tr ng-repeat="entry in entries">
        <td>
          <a ui-sref="trip.show.entry.show({entry_id: entry[1]._id})">
            <icon name="{{entry[1].type == 'bill' ? 'credit-card' : 'money'}}"></icon>
          </a>
        </td>
        <td>
          <span class="pull-right">{{entry[1].amount | $}}</span>
        </td>
        <td>{{entry[0]}}</td>
        <td>{{entry[1].creationDate |date:'short'}}</td>
        <td>
            <a ng-click="delete(entry[1]._id)" >
                <icon name="scissors"></icon>
            </a>
        </td>
      </tr>
    </table>
  </div>
</div>
